<h2>Add movie</h2>

<form  method="POST" action="/movies/create">
  <div class="mb-3">
    <label class="form-label" >Title</label>
    <input class="form-control" type="text" name="title">
    <br>
    <label class="form-label" >Genre</label>
    <input class="form-control" type="text" name="genre">
    <br>
    <label class="form-label" >Plot</label>
    <input class="form-control" type="text" name="plot">
    <br>

    <label for="cast">Cast:</label>
    <select name ="cast" id="cast" multiple>
      {{#each celebrities}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>

    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>